body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fff; /* White background for normal mode */
    color: #000; /* Black text for normal mode */
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #000; /* Black background for dark mode */
    color: #fff; /* White text for dark mode */
}

header {
    padding: 20px;
    text-align: center;
    background-color: #222;
    font-size: 28px; 
    /* Dark gray background for header */
}

main {
    padding: 20px;
    font-size: 18px;
}

/* Add styling for your portfolio content here */
